<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <% posts.forEach((post) => { %>
        <div class="card">
            <% if (locals.currentUser && locals.currentUser.ismember) { %>
                <p>Author: <%= post.username %></p>
                <p>Date posted: <%= post.date %></p>
            <% } else { %>
                <p>Author: ****** </p>
                <p>Date posted: ****** </p>
            <% } %>
            <p><%= post.text %></p>
            <% if (locals.currentUser && locals.currentUser.isadmin) { %>
                <form action="/delete" method="post">
                    <button name="id" value="<%=post.id%>" type="submit">Delete</button>
                </form>
            <% } %>
        </div>
    <% }) %>
    <% if (locals.currentUser) { %>
        <a href="/create">Create post</a>
        <a href="/logout">Log out</a>
        <a href="/member">Become a member!</a>
        <a href="/admin">Apply for admin</a>
    <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Log in</a>
    <% } %>
</body>
</html>
